
.container {
    display: flex;
}
.fixed {
    position: fixed;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.664);
}


ul {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

a {
    display: block;
    color: black;
}
.list1 {
    margin-right: 100px;
    font-size: 20px;
    color: black;
   
}
.wraper {
    display: flex;
    justify-content:space-between;
    max-width: 1024;
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
    z-index: 10;
    
}
.warm {
    margin-top: 100px;
    font-weight: solid;
    font-style:italic;
}
.second {
    width: 5px;
    font-size: 50px;
}
.title1 {
    font-size: 90px;
    width: 10px;
    
}
.paragraph {
    width: 300px;
    font-size: 20px;
    margin-top: 10px;
    text-indent: 10px;
    font: weight 500px;;
    font-family:'Montserrat', sans-serif;
}
.second {
    margin-top: 20px;
}
.div2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.handpic-container {
    width: 500px;
    height: 600px;
    background-color: rgb(108, 155, 116);
    padding: 5rem;
}
.handpic {
    max-width: 100%;
    object-fit:cover;
}
.button1 {
    background-color:  rgb(108, 155, 116);
    width: 110px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    padding-top: 8px;
    color: white;
    font-weight: solid;
    font-size: 19px;
}
  
.text1 {
    margin-right: 30px;
}
.bathroomimage {
    background-image: url(images/bathroom.jpg);
    background-size:100%;
    width: 500px;
    height: 650px;
    overflow: hidden;
}
.greenbathroom {
    height: 100%;
    width: 100%;
    margin-top: 100px;
}
.greenplant-container {
    background-image: url(images/greenplant.webp);
    overflow: hidden;
    background-size:100%;
    height: 500px;
    width: 500px;
}
.secondbutton {
   margin-top: 50px;
   margin-left: 150px;
 }   
 .title3 {
    text-align: right;
    margin-left: 150px;
    width: 150px;
   
 }

.greenplant{
 width: 500px;
 height: 500px;
 object-fit: cover;
 
}
.greenplanttext {
    margin-left: 10px;
    background: center;
    text-align: right;
}

.twoleaf {
 width: 1000px;
 margin: 0px auto;
 margin-top: 20px;
 
}
.twoleafandtexton {
    text-align: center;
    position: relative;
}
.twoleafcube {
    position: relative;
}
.texton {
    position: absolute;
    left: 500px;
    width: 250px;
    z-index: 2;
    top: 130px;
}
.clear{
    clear: both;
}
.habit {
    font-size: 70px;
}
.liltext {
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 20px;
}
.thirdbutton {  
    display: block;
    margin: 50px auto;
}
.twoleafp {
    width: 260px;
}
.bigtitlediv {
    display: block;
    text-align: center;
}
.maintitle {
    font-size: 60px;
    margin-top: 60px;
}
.nomain {
    width: 1000px;
    display: block;
    margin: 20px auto;
}
.imageposition {
    width: 350px;
    height: 350px;
    display: block;
    margin: auto;
}
.picrow1 {
    display: flex;
    justify-content: space-around;
    
}
.between {
    margin-top: 30px;
}
.learnmorebutton {
    width: 150px;
    height: 50px;
    color:rgb(36, 31, 31);
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
    display: block;
    margin: 25px auto;
}
.imageA {
    width: 350px;
}
.imagesAB {
    display: flex;
    flex-direction: column;
}
.forsale {
    width: 150px;
    height: 150px;
    background-color:  rgb(108, 155, 116);
    color: white;
    text-align: center;
    padding-top: 60px;
}
.forsaleandtext {
    display: flex;
    align-items: center;
    font-size:20px;
}
.buffalo {
    margin-left: 50px;
    color: rgb(108, 155, 116);
    font-style:italic;
}
.linediv {
    height: 1px;
    width: 50%;
    background-color: black;
     margin-bottom: 30px;
}
.forsaleandtext {
    display: flex;
    align-items: center;
    margin: 10px 250px;
    position: absolute;
}

.minimalistp {
    width: 500px;
    margin-top: 20px;
}
.minimalistheading {
    font-size: 50px;
}
.textandimagesAB {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.lineandtext {
    margin-top:200px ;
}
.lastimagerow {
    width: 300px;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.473);
}
.lastimagerow:hover {
    opacity: 1;
}
.lastrowdiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
footer {
    background-color: rgba(0, 0, 0, 0.774);
    width: 100%;
    height: 300px;
}
.footertext {
        text-align: center;
        width: 500px;
        display: block;
        margin:20px auto;
        padding-top: 80px;
}
.loginandsignup{
    display: flex;
    justify-content: center;
}
.signup {
    margin-right: 10px;
    font-size: 20px;
}
.betweenline {
    height: 20px;
    width: 1px;
    background-color: white;
}
.login {
    margin-left: 10px;
    font-size:20px;
}
.signupdiv {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-color: black;
    box-shadow: 5px 5px rgba(3, 3, 114, 0.89);
    border-style: solid;
    border-width: 1px;
    margin-left: 420px;
    background-image:url( https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-tech-geometric-graphic-party-sign-in-background-material-backgroundgeometryevening-sign-image_73734.jpg);
    overflow: hidden;
    background-size:100%; ;
}
.welcome {
    margin-bottom: 10px;
    font-size: xx-large;
    color: rgba(255, 255, 255, 0.822);
}
.signupbutton {
    border-radius: 5px;
    padding:10px;
    color: rgba(255, 255, 255, 0.87);
    font-size: 15px;
    margin-top: 10px;
    border-style: none;
    width: 100px;
    background-color: rgba(63, 63, 212, 0.753);
}
.allinputs{ 
    padding: 10px;
    margin-top: 5px;
}
.agreetext {
    color: white;
    font: 400;
    margin-top: 5px;
    font-size: large;
}
.forgpassword {
    text-decoration-line: underline;
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.area {
position:relative;
}
form {
    position:absolute;
    top: 10px;
}

